<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport"
        content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


    <script>
        //IMP 객체 초기화
        const IMP = window.IMP;
        IMP.init("imp94333879")
    </script>

    <title>결제SDK-TEST</title>
</head>

<body>
    <button onclick="requestPay()">결제하기</button>

    <script>

        /**
         * 여기서는 params를 통해 storeid를 가지고있으니까 가지고 잇는 
         */
        async function requestPay() {
            //테스트 데이터입니다
            const store_data = await axios({
                url:"http://localhost:6534/api/customers/reserve/payment/50",
                method: "get",
            });

            const {storeid, name, prepay} = store_data.data;
            IMP.request_pay({ //param
            pg: "html5_inicis",
            pay_method: "card",
            merchant_uid: `MILLP${storeid}-${new Date().getTime()}`,
            name: `${name}`,
            amount: prepay,
            buyer_email: "",
            buyer_name: "최영재",
            //buyer_tel: "010-3881-5074",
            //buyer_addr: "서울특별시 강남구 신사동",
            //buyer_postcode: "01181"
        }, rsp => { //callback
            if(rsp.success) {
                console.log(rsp)
                //결제 성공 시 로직,
                axios({
                    url: "http://localhost:6534/api/customers/reserve/50",
                    method: "post",
                    headers: {"Content-Type": "application/json"},
                    data: {
                        imp_uid: rsp.imp_uid,
                        merchant_uid: rsp.merchant_uid,
                        name: rsp.name,
                        amount: rsp.paid_amount,
                        buyer_name: rsp.buyer_name,
                        buyer_tel: rsp.buyer_tel,
                        storeid,
                        reservedate: 20210120,
                        prepay: rsp.paid_amount,
                        peoples: 20,
                        reservetime: 22
                    }
                }).then((res) => {
                    const { data } = res

                    document.getElementsByTagName('body')[0].innerHTML = 
                    '결제가 완료되었습니다.<br>' +
                    `주문번호 ${data.merchant_uid}<br>` +
                    `예약 매장 ${data.name}<br>` +
                    `예약 일시 ${data.reservedate}<br>` +
                    `예약 시간 ${data.reservetime}시<br>` +
                    `예약 장소 ${data.address}<br>` +
                    `예약자명 ${data.buyer_name}<br>` +
                    `<a href="/">메인으로</a>`
                })
            }
            else {
                //결제 실패 시 로직,
                document.getElementsByTagName('body')[0].innerHTML = rsp.error_msg + 
                                            '<br><a href="/">메인으로</a>'
            }

        })
        }
    </script>

</body>

</html>